#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.btn {
  font-size: 1rem;
  border-radius: 4px;
  background-color: rgb(56, 245, 172);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.createBtn{
  padding: 5%;
}

.menuIcon{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 150px;
  height: 30px;
  width: 50px;
  box-shadow: none;
  left: 337px;
  border: 2px white solid;
  border-radius: 0;
}

.checkMenu{
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 10px 5px 5px 5px;
  margin: 0 0 20px 0;
}

.checkOption input{
  margin-right: 0.3rem;
}

.titleCheck input{
  margin-right: 0.5rem;
}

.ulCheck{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.checkOption{
  display:block;
  white-space: nowrap;
  margin: 5px 0 0 0;
}

.titleCheck{
  font-weight: 700;
}

.checkContainer{
  font-family: "Raleway", sans-serif;
  font-size:1rem;
  overflow-y:auto;
  width: 300px;
  height: 100vh;
}

.slideIcon{
  float: right;
  margin: 10px 20px 0 0;
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}

.navbar{
  height: 100vh;
  padding: 6% 0 0 6%;
  width: 330px;
  background-color: white;
}

.container{
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}



.btn:hover {
  background-color: rgb(56, 228, 162);
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}