#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.btn {
  font-size: 1rem;
  border-radius: 4px;
  background-color: rgb(56, 245, 172);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.createBtn{
  padding: 10px;
}

.menuIcon{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 150px;
  height: 30px;
  width: 50px;
  box-shadow: none;
  left: 337px;
  border-radius: 0;
}

.checkMenu{
  background-color: #e0e0e0;
  border-radius: 4px;
  width: 260px;
  padding: 10px 10px 3px 15px;
  margin: 0 0 20px 0;
}

.checkLabel input{
  margin-right: 0.5rem;
}

.titleLabel input{
  margin-right: 0.5rem;
}

.ulCheck{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.checkLabel{
  display:block;
  white-space: nowrap;
  font-family: "Nunito", sans-serif;
  margin: 5px 0 0 0;
}

.titleLabel{
  font-weight: 700;
}

input[type="checkbox"] {
  position: relative;
  width: 1rem;
  height: 1rem;
  top: 5px;
  color: black;
  border: 2px solid gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
input[type="checkbox"]::before { 
    position: absolute;
    content: '';
    display: block;
    bottom: 1px;
    left: 3px;
    width: 4px;
    height: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
input[type="checkbox"]:checked {
    color: white;
    border-color: #4285F4;
    background: #4285F4;
  }
input[type="checkbox"]:checked::before {
  opacity: 1;
}


/* scroll wheel */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #868f92;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}


.textInput{
  width: 200px;
}

.slideIcon{
  float: right;
  margin: 15px 20px 0 0;
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  cursor: pointer;
  transition: transform 0.5s;
}

.navbar{
  font-family: "Raleway", sans-serif;
  font-size:1rem;
  height: 100vh;
  padding: 6% 0 0 6%;
  width: 330px;
  background-color: white;
}

.filters{
  overflow-y:overlay;
  position: absolute; 
  bottom: 0;
  height: 55vh;
}

.options{
  margin: 10px;
  width: 260px;
  height: 35vh;
}

.container{
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}



.btn:hover {
  background-color: rgb(56, 228, 162);
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}